@import 'base.css';

body {background-color: #f1efeb;}

/***** header *****/
header {position:fixed; width: 100%; padding: 1rem 0 1.85rem 0; border-bottom: 1px solid #ccc; 
background-color:#f1efeb; z-index: 999; top: 0; text-align: center;}
.logo {float:left; max-width:106px; cursor: pointer; margin-left:10%;}

/***** navigation PC *****/
.navs {color:#222; font-size: 1rem; font-weight: bold; margin: 1.5rem 10em 0 0; float:right;}
.nav {float: left; line-height: 15px; margin: 0 1.5em 0 1rem; border-right: 2px solid #222; padding: 0 2em 0 0; cursor: pointer;}
.nav a {color:#222; text-decoration: none;}
.nav:last-child {border:none; padding-right: 0;}
.header_s_bg {background: url(../img/login_membership_bg.png) no-repeat; top: 0; right: 0;	display: block;	width: 150px;	height: 75px;	position: fixed;}
.header_s_bg > P {color: #fff; font-weight: bold; font-size: 12px;	position: relative; right: -1.5rem;	top: 0.8rem;
 cursor: pointer;}

/***** sub_menu PC *****/
.sub_menu {position: absolute; width: 150px;}
.sub_menu > li {color: #fff; background-color: #222; padding: 0.5rem;}

/***** navigation Mobile *****/
.navs_mo {padding: 1em;	position: absolute;	right: 0;	font-size: 1.5rem; display: none;}
.navs_mo_sub {height: 100%; background-color: rgba(0,0,0,.7); position: fixed; z-index:1000; color:#fff; font-size:01rem; display:none; width: 220px;}
.navs_mo_sub > li {padding:0.75em; padding-right:5em; font-weight: 600;}
.navs_mo_sub > .nav_close {padding:1.25em; font-size: 3em;}

/***** navigation Response *****/
@media screen and (max-width:768px) {
	html, body {font-size:14px;}
	.navs {display:none;}
	.navs_mo {display:block;}
	.navs_mo_sub {display:block;}
	.logo {margin-left:5%;}
	.navs_mo_sub > li {border-right: none;}
	.navs_mo_sub > .nav_close {margin:0 3.5rem;}

	
}

@media screen and (max-width:480px) {
	html, body {font-size:12px;}
	.logo {margin-left:2%;}
	.navs_mo_sub > .nav_close {margin:0 4.75rem;}
}

@media (max-width: 1210px){
.header_s_bg {display: none;}
}

/***** banner PC *****/
.banner {position: relative; margin: 5.35rem auto 0;}
.banner_wrap {width: 100%; position: relative;}
.banner_wrap > li {position: absolute; width: 100%;}

/***** content1 PC *****/
#content1 {max-width: 1920px; position: relative; margin: auto;}
.event_cont {position: relative; width: 50%; float: left;}
.product_cont { position: relative; width:50%; float: left;}
.text {text-align: center; width:100%; top:20%; position:absolute;}
.text > h3 {color:#fff; font-weight: bold; padding-bottom: 2rem; }
.text > p {color:#fff;}
.event_bt {position: absolute; top:65%; left:50%; transform:translate(-50%, -50%); cursor: pointer;}
.event_bt > li {border:2px solid #fff; color:#fff; border-radius: 20px; padding: 8px 40.5px;}
.product_bt {position: absolute; top: 65%; right: 24.85%; transform: translate(50%, -50%); cursor: pointer;}
.product_bt > li {border:2px solid #fff; color:#fff; border-radius: 20px; padding: 8px 32.5px;}
.event_bt:hover > li, .product_bt:hover > li{border:2px solid rgba(255, 221, 159, 0.918); color:rgba(255, 221, 159, 0.918);}

/***** content2 PC *****/
#content2 {width:100%; background-color: #222; padding: 5rem; text-align: center;}
.text_2 h3 {color:#fff; font-weight: bold; margin-bottom: 1.5rem;}
.text_2 p {color:#fff;}
.intro_wrap {max-width:1100px; margin:0 auto; margin-top: 3rem; position: relative;}
.intbox_1 {width: 550px;}
.picture_1 {width: 275px; float: left; height: 200px;}
.picture_1 + div {background-color: #ec3434; float: left;	width: 275px;	height: 200px;}
.picture_1 + div > h3 {color: #fff;	font-size: 2rem; padding-bottom: 0.75rem;	margin-top: 3.15rem;}
.picture_1 + div > p {color: #fff; font-size: 2rem;	font-weight: bold;}
.intbox_2 {width:550px;}
.intbox_2 > div {background-color: #ec3434; float: left;	width: 275px;	height: 200px;}
.intbox_2 > div > h3 {color: #fff;	font-size: 2rem; padding-bottom: 0.75rem;	margin-top: 3.15rem;}
.intbox_2 > div > p {color: #fff; font-size: 2rem;	font-weight: bold;}
.picture_2 {width: 275px; float: left; height:200px;}
.intbox_3 {width: 550px; height:402px; position: absolute;	right: 0;}
.intbox_3 > div {background-color: #ec3434;	width: 275px;	height: 200px; position: absolute; top: 0; transform:translateY(12.62rem)}
.intbox_3 > div > h3 {color: #fff;	font-size: 2rem; padding-bottom: 0.75rem;	margin-top: 3.15rem;}
.intbox_3 > div > p {color: #fff; font-size: 2rem;	font-weight: bold;}

/***** content3 PC *****/
#content3 {width: 100%;}
.text_3 {text-align: center; }
.text_3 span {color:#ec3434; font-weight: bold; }
.text_3 h3 {color:#222; font-weight: bold; padding:3rem 0 2rem 0; }

.wrap2 {width: 100%; padding: 3.5rem 0; text-align: center;}
.wrap2 > div {max-width: 1500px;	margin: auto;}
.b1 {float: left;	width: 19%; margin: .5%; cursor: pointer;}
.text_3_1 {margin-top: 1rem; font-weight: bold;}

/***** content4 PC *****/
#content4 {position: relative; width: 100%; height: 885px;}
.text_4 {transform: translateY(-38rem);}
.text_4 > h3 {color: #fff; font-weight: bold; margin-left: 23rem; font-size: 1.75rem;}
.text_4 > p {color:#fff; margin: 3rem 0 0 23rem; font-size: 13px;}
.text_4 > img {width: 76px; margin: 3rem 0 0 23rem;}
.store_bt {border: 2px solid #fff; border-radius: 20px; width: 135px; margin:4.75rem 0 0 23rem; text-align: center; cursor: pointer;}
.store_bt > li {color: #fff; padding: 9px 6px;}

/***** content5 PC *****/
#content5 {width: 100%; padding: 5rem;}
.inner_wrap {max-width: 1247px; margin: auto; }
.dp_block {float: left; padding: 3rem 0.1rem 0 3rem; position: relative;}
.opa_bg1, .opa_bg2 {position: absolute; background-color: rgba(0,0,0,.5); width: 550px; height: 607px; top: 3rem; opacity: 0;}
.text_5 {color:#fff; margin-top: 2.5rem;}
.opa_bg1 > ul:first-child, .opa_bg2 > ul:first-child {text-align: center; padding: 3rem;	margin-top: 11rem;}
.click_bt {border: 2px solid #fff; border-radius: 20px; width: 135px; margin: 3rem 0 0 13rem; text-align: center; cursor: pointer;}
.click_bt > li {color: #fff; padding: 8px 32.5px;}
.dp_block:hover .opa_bg1 {transition:0.8s; opacity: 1;}
.dp_block:hover .opa_bg2 {transition:0.8s; opacity: 1;}

/***** content6 PC *****/
#content6 {max-width: 100%; position: relative;}
.community_wrap {float: left; width: 50%;}
.wrap_box {max-width: 960px; position: relative; }
.text_6 {position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); text-align: center;}
.text_6 > h2 {margin-bottom:2rem; color: #fff; font-weight: bolder;}
.commu_bt {background-color: #fff; border-radius: 20px; width: 135px; margin: 0 auto; cursor: pointer;}
.commu_bt:first-child {margin-left: 4.65rem;}
.commu_bt > li {padding: 9px 6px;}
.commu_bt:hover li {color:#ec3434;}
.facebook_wrap {width:50%; float: left;}
.facebook_wrap > li {float: left; position: relative; width: 474.5px;}
.text_7 {position: absolute; top:60%; left: 40%; text-align: center; transform: translate(-50%,-50%);}
.text_7 > h2 {color: #fff; margin-bottom: 1rem; font-weight: bolder;}
.text_7 > p {color:#fff; cursor: pointer;}
.text_7_1 {position: absolute; top:60%; left: 61%; text-align: center; transform: translate(-50%,-50%);}
.text_7_1 > h2 {color: #fff; margin-bottom: 1rem; font-weight: bolder;}
.text_7_1 > p {color:#fff; cursor: pointer;}
.text_7_2 {position: absolute; top:35%; left: 40%; text-align: center; transform: translate(-50%,-50%);}
.text_7_2 > h2 {color: #fff; margin-bottom: 1rem; font-weight: bolder;}
.text_7_2 > p {color:#fff; cursor: pointer;}
.text_7_3 {position: absolute; top:35%; left: 62%; text-align: center; transform: translate(-50%,-50%);}
.text_7_3 > h2 {color: #fff; margin-bottom: 1rem; font-weight: bolder;}
.text_7_3 > p {color:#fff; cursor: pointer;}

footer {background-color: #222; width: 100%; height: 130px;}
.ft_wrap {max-width: 1200px; margin: 0 auto;}
.ft_wrap > ul {padding: 1.5rem 0;}
.ft_wrap > ul > li {color: #f1efeb; float: left; font-weight: bold; font-size: 0.75em; border-right: 1px solid #fff;
padding: 0 1rem;  cursor: pointer;}
.ft_wrap > ul > li:last-child { border-right:none;}
select {background-color: #ec3434; width: 170px; border-radius: 20px; float: right; color: #fff; font-weight: bold;
border:none;}
.copyright_wrap {text-align: center;}
.copyright_wrap > li {font-weight: bold; padding: 1.5rem; color: #fff; border-top: 0.5px solid rgba(158, 158, 158, 0.5);;;}